.container-events {
  margin-top: 160px;
}

.card {
  width: 349px;
  height: 550px;
  border: var(--blue) solid 2px;
  margin-top: 81px;
}

.card-content {
  text-align: left;
  padding: 25px 7px 15px 14px;
}

.card-content h4 {
  font-size: 21px;
  font-weight: 500;
  letter-spacing: -0.16;
  line-height: 24px;
}

.card-content .undertitle {
  margin-top: 0;
}

.card-content p {
  margin-top: 31px;
}

.card-content img {
  margin-top: 10%;
  margin-left: 90%;
}

.events-description {
  margin-top: 81px;
  font-size: 25px;
  letter-spacing: 2.31;
  line-height: 33px;
  font-weight: 500;
}
