.footer-wrapper {
  background-color: var(--blue);
  color: var(--white);
  margin-top: 450px;
}

.contacts {
  margin-top: 81px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.85px;
  text-align: right;
  margin-bottom: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contacts a {
  transition: opacity 0.2s;
}

.contacts a:hover {
  opacity: 0.7;
}

.contacts img {
  margin-bottom: 10px;
  margin-right: 68%;
}

.contacts .nav-btn-languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}

.links {
  font-size: 12px;
  letter-spacing: 1.11px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 40px;
}

.media {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.partners {
  text-align: left;
}

.partners img {
  margin-right: 100px;
  margin-bottom: 25px;
}

.social-media img {
  margin-left: 50px;
  transition: transform 0.2s;
}

.social-media img:hover {
  transform: scale(1.2);
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: white;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
