.footer-wrapper {
  background-color: var(--blue);
  color: var(--white);
  margin-top: 160px;
}

.contacts {
  margin-top: 81px;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.85px;
  text-align: right;
  margin-bottom: 56px;
}

.first-link {
  margin-left: 68%;
}

.contacts img {
  margin-bottom: 10px;
}

.links {
  font-size: 12px;
  letter-spacing: 1.11px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 40px;
}

.media {
  margin-top: 56px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.partners {
  text-align: left;
}

.partners img {
  margin-right: 100px;
  margin-bottom: 25px;
}

.social-media img {
  margin-left: 50px;
}
