.container-infos {
  border: var(--blue) solid 2px;
  margin-top: 160px;
}

.infos {
  padding: 80px 0;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2.31px;
  line-height: 33px;
}

.app {
  border-left: var(--blue) solid 2px;
  padding: 155px 143px;
}

.app img {
  margin-bottom: 23px;
}

.app a {
  transition: opacity 0.2s;
}

.app a:hover {
  opacity: 0.6;
}
