.container-presentation {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2.31px;
  line-height: 33px;
  margin-top: 81px;
}

.container-presentation img {
  position: absolute;
  top: 182%;
  left: -20px;
}
